/*
 * DIAGNOSTIC keymap (printable-only): 8 rows x 6 cols, every position = a
 * distinct VISIBLE key. Press a switch, read what it types, look it up here.
 *
 * row(pin)  -> col4 col5 col6 col7 col8 col9
 *   0 (p0)  ->  1    2    3    4    5    6
 *   1 (p1)  ->  7    8    9    0    q    w
 *   2 (p2)  ->  e    r    t    y    u    i
 *   3 (p3)  ->  o    p    a    s    d    f
 *   4 (p10) ->  g    h    j    k    l    z
 *   5 (p14) ->  x    c    v    b    n    m
 *   6 (p15) ->  ,    .    /    ;    '    [
 *   7 (p16) ->  ]    \    `    =    -    (tab)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6
        &kp N7    &kp N8    &kp N9    &kp N0    &kp Q     &kp W
        &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I
        &kp O     &kp P     &kp A     &kp S     &kp D     &kp F
        &kp G     &kp H     &kp J     &kp K     &kp L     &kp Z
        &kp X     &kp C     &kp V     &kp B     &kp N     &kp M
        &kp COMMA &kp DOT   &kp FSLH  &kp SEMI  &kp SQT   &kp LBKT
        &kp RBKT  &kp BSLH  &kp GRAVE &kp EQUAL &kp MINUS &kp TAB
      >;
    };
  };
};
